@use "../scss/variables.scss" as *;

.apartment-page {
    color: $color-primary;

    .apartment__description__area {
        display: flex;
        gap: 1rem;

        @media screen and (width <=768px) {
            flex-direction: column;
            gap:0rem;
        }

    }
 

        }