.apartment{
    background-image: linear-gradient(to top, #863535,#ff6060);
    background-color: var(--red);
    border-radius: 1rem;
    flex-basis: 28%;
    display: grid;
    align-items: end;
    min-width: 200px;
    min-height: 200px;
}

@media screen and (width <=768px) {
    .grid{
        flex-basis: 100%;
    }
}

.apartment__subtitle{
    width: 31%;
    margin-inline-start: .5rem;
    margin-block-end: .5em;
    color: white;
}