@use "../scss/variables.scss" as *;

.apartment__header {
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
   


    @media screen and (width <=768px) {
        flex-direction: column;
        margin-bottom: 0.5rem;

    }

    .apartment__title {
        flex-grow: 0.9;         /*permet d'élargir la div*/
        margin-left: 3rem;
        margin-right: 5rem;
        @media screen and (width <=768px) {
            flex-direction: column;
            padding-right: 1rem;
            flex-grow: 0;
            margin-left: 0rem;
            margin-right: 0rem;
        }
    }

    @media screen and (width <=768px) {
        padding-right: 10px;
        margin-left: 1rem;
        margin-top: 5px;
      
    }

    .apartment__owner {
        display: flex;
        flex-direction: column;

      

        @media screen and (width <=768px) {
            flex-direction: row;
            justify-content: space-between;

        }
    }

    .apartment__owner__details {
        display: flex;
        gap: 1.5rem;
        margin-left: 4em;

        @media screen and (width <=768px) {
            order: 1;
            margin-left: 0em;
        }
    }

    .apartment__owner__badge img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: $background-dark;
        @media screen and (width <=768px) {
            height: 35px;
            width: 35px;
            margin-left: -1em;
            margin-top: 1em;
        }
        
    }

    h3 {
        margin-block: 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        font-weight: 400;
        margin-top: 8px;
    }

    .apartment__owner__stars {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: $background-dark;
        padding-top: 10px;
        padding-right: 4em;
        @media screen and (width <=768px) {
            padding-left: 0rem;
            gap: 0;
       
        }

        * {
            font-size: 2rem;
            @media screen and (width <=768px) {
                font-size: 1rem;
            
            }
        }

        .on {
            color: $color-primary;
        }
    }
}

        h1 {
            font-weight: 400;
            margin-block: 0;
            font-size: 40px;
            @media screen and (width <=768px) {
                font-size : 20px;
                margin-inline: 0;
     
        }
       
         }
        

        h2 {
            font-weight: 400;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            font-size: 20px;
            color: $black-text;

            @media screen and (width <=768px) {
               font-size: 40px;
    
            }

            @media screen and (min-width: 375px) and (max-width: 767px) {
                font-size: 13px;
     
             }
        }

        .apartment__tags {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
            gap: 1rem;
            @media screen and (min-width: 375px) and (max-width: 767px) {
                display: flex;
                flex-wrap: wrap;
                
     
             }

            span {
                background-color: $color-primary;
                color: $color-tertiary;
                padding: 0.3em 0.5em;
                border-radius: 0.7rem;
                text-align: center;
                @media screen and (min-width: 375px) and (max-width: 767px) {
                    font-size: 13px;
                    width: 20%;
         
                 }
            }
        }