@use "../scss/variables.scss" as *;

.description__panel {
    flex-basis: 47%;
    margin-bottom: 2rem;
    overflow: hidden;
    margin-left: 3%;
    margin-right: 3%;

    p {
        margin-block: 0;
        font-size: 26px;
        @media screen and (max-width: 768px) { 
            font-size: 15px;
        }
    }

    @media screen and (max-width: 768px) { /* Appliquer les styles pour les écrans de largeur maximale de 768px (version mobile) */
        flex-basis: 100%; /* Réinitialiser la largeur à 100% */
       
    }

    .description__header {
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 0.2em 1em;
        border-radius: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 2rem;
            cursor: pointer;
            ;
        }

    }

    .description__content {
        background-color: $background-light;
        color: $black-text;
        padding: 1rem;
        border-radius: 0 0 1rem 1rem;
        position: relative;
        top: -0.3rem;
        z-index: -1;
    }

}


