@use"../scss/variables.scss" as *;


.footer{
    background-color: $footer-background-color;
    color: $color-tertiary;
    padding:20px;
    text-align: center;
    min-height: 100px;
    display: grid;
    place-items: center;

}