@use"../scss/variables.scss" as *;


.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    color: $color-primary;
    font-weight: 700;
    &>*:first-child{
        margin-right: auto;
    }
    & a{
    text-decoration: none;
    color:$color-primary;
    cursor: pointer;
    &.active,
    &.hover{
    text-decoration: underline;
    }

}
}

