.about__page__container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* La première et la dernière ligne sont de hauteur automatique, la ligne du milieu remplit tout l'espace restant */
  min-height: 75vh; 
  overflow: hidden;
  align-items: start;
  margin: 0;
  padding:0;
  @media screen and (width <=768px) {
    min-height: 82vh;
  }
}
.about__banner {
  height: 15rem;
  margin-bottom: 1rem;
  @media screen and (width <=768px) {
    height: 7rem;
  }
  .about__container{
    padding: 1rem;
    margin-bottom: auto;
  }
  .image__banner {
    height: 10rem;
    flex-basis: 80%;
    

    @media screen and (width <=768px) {
      height: 0rem;
    }

    .image__container {
      height: 14rem;
      @media screen and (width <=768px) {
        height: 7rem;
      }
    }
  }

  @media screen and (width <=768px) {
    .about__banner {
      height: 10%;
    }
    .image__banner {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .image__container {
      height: 1px;
    }
  }
}
.about__container {
  padding-inline: 7rem;
  padding-top: 1rem;
  @media screen and (width <=768px) {
    padding-inline: 0rem;
  }
  .image__container {
    height: 1rem;
  }
  @media screen and (width <=768px) {
    .about__container {
      height: 10%;
      padding-inline: 0rem;
    }
  }
}
