@use "../scss/variables.scss" as *;

.apartment {
  //background-image: linear-gradient(to top,$color-secondary,$color-primary);
  background-color: var(--red);
  border-radius: 1rem;
  flex-basis: 28%;
  display: grid;
  align-items: end;
  min-width: 200px;
  min-height: 340px;
  background-size: cover;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    filter: brightness(0.8);
  
  }





  & &__subtitle {
    width: 40%;
    margin-inline-start: 0.5rem;
    margin-block-end: 0.5em;
    color: $color-tertiary;
    position: absolute;
    font-weight: 500;
  }
}

@media screen and (width <= 768px) {
  .apartment {
    flex-basis: 100%;
    min-width: 200px;
    min-height: 240px;
  }
}
