
@use "../scss/variables.scss" as *;

.description__panel {
    flex-basis: 47%;
    margin-bottom: 2rem;
    overflow: hidden;
    list-style-type: none ;
    
    @media screen and (max-width: 768px) { 
        margin-bottom: 1rem;
    }

    p {
        margin-block: 0;
        font-size: 15px;

        @media screen and (max-width: 768px) { 
            font-size: 15px;
        }
    }

    @media screen and (max-width: 768px) {
        flex-basis: 100%;
    }

    .description__header {
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 0.2em 1em;
        border-radius: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 2rem;
            cursor: pointer;
       

        }

        .rotate  {
            transition: transform 0.3s ease;
            transform : rotate(-180deg);
        } 
        .reverse {
            transition: transform 0.3s ease;
            transform : rotate(0deg);
        }
    
    
    




    }

    .description__content {
        background-color: $background-light;
        color: $black-text;
        padding: 1rem 1rem 1rem 2rem;
        border-radius: 0 0 1rem 1rem;
        position: relative;
        top: -0.3rem;
        z-index: -1;
    }
}


