@use "../scss/variables.scss" as *;


.error-page-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* La première et la dernière ligne sont de hauteur automatique, la ligne du milieu remplit tout l'espace restant */
  min-height: 100vh; 
  overflow: hidden;
}

.error-page {
  color: $color-primary;
  text-align: center;
  padding-bottom: 8em;


  h1 {
    font-size: 20rem;
    margin-bottom: 3rem;
    padding-top: 6rem;
    font-weight: 700;
    @media screen and (width <=768px) {
      font-size: 8rem;
      padding-top: 5rem;
    }
  }

  h2 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 9rem;
    color: $color-primary;
    @media screen and (width <=768px) {
      font-size: 1.5rem;
      padding-top: 1rem;
      margin-bottom: 7rem;
    }
  }

  a {
    color: $black-text;
    font-size: 21px;
    @media screen and (width <=768px) {
      font-size: 17px;
    }
  }
}
