@use"../scss/variables.scss" as *;


.banner {
    max-width: 100vw;
    padding-inline: 2 rem;
    background-image: url("../assets/background-banner.png");
    background-position: center;
    background-size: cover;
    min-height: 222px;
    max-width: 80vw;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: $color-tertiary;
    margin-bottom: 6rem;
    max-width: 100%;
    h2 {
        color: white;

    }

    @media screen and (width <= 768px) {
        min-height: 90px;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }

}